@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    font-family: 'Montserrat', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
}

#last-project {
    margin-bottom: 40px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    min-height: 542px;
    background-image: url(./images/bgi.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text h1,
.profile-text p,
.profile-text a {
    color: #ffffff;
}

.profile-text {
    text-align: left;
    font-size: 24px;
}

.contact-info {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0077b6;
}

.separator {
    background-color: black;
    color: white;
}

.separator-header {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.separator-content {
    font-size: 18px;
    padding: 25px;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 1.6;
}

.education {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.edu-item {
    max-width: 400px;
    text-align: center;
}

.edu-logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.edu-item h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.edu-item p {
    color: #444;
    font-size: 14px;
}

.portfolio-skills-container {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.skills-heading {
    font-size: 2em;
    margin-bottom: 40px;
}

.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.skill-name {
    color: #333333;
    font-size: 1.1em;
    font-weight: bold;
}

.all-projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    margin-top: 40px;
}

.projects-container {
    display: flex;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}

.project-image {
    flex: 1;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project-text-column {
    flex: 1;
    padding: 20px;
}


.project-text-column h3 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.project-text-column p {
    text-align: justify;
    line-height: 1.5;
}
